.tabla-animales-container {
  width: 100%;
  padding: 20px;
}

.btn-nuevo-container {
  display: flex;
  justify-content: flex-end; /* ← Alinea a la derecha */
  margin-bottom: 15px;
}

.btn-nuevo {
  background: #4caf50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.tabla-animales {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.tabla-animales th,
.tabla-animales td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tabla-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.acciones button {
  margin: 0 4px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-ver {
  background: #2196f3;
  color: white;
}

.btn-editar {
  background: #ff9800;
  color: white;
}

.btn-eliminar {
  background: #f44336;
  color: white;
}
